doctype html
html
    head
        title Node.js + Express App
        
    body
        block content
        br
        hr
        footer
            p Copyright  &copy; Spock Technologies 2017